<style>
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap');

body {
    --ibm-blue: #0f62fe;
    --dark-blue: #2756ad;
}

h1,h2,h3,h4,p {
    font-family: "IBM Plex Sans";
    color: rgba(0,0,0,.7);
}
h1,h2 {
    margin: 60px 0 10px 0 !important;
}
h3,h4 {
    margin: 40px 0 10px 0 !important;
}
h1 {
    font-size: 2.5em !important;
}
h2 {
    font-size: 2em !important;
    color: var(--dark-blue);
}
h3 {
}
p, ul, ol {
    max-width: 1400px;
}



/**
 * Command instructions
 */

pre.cmd {
    color: #eec;
    background: #444;
    padding: 20px;
    margin: 0;
    border-radius: 3px;
}



/**
 * Page Banner
 */

.banner {
    font-family: "IBM Plex Sans";
    width: 100%;
    height: 140px;
    color: white;
    font-size: 30px;
    line-height: 30px;
    text-align: right;
    padding: 20px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    font-weight: 300;
}
.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}
.banner::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    height: 2px;
    bottom: -6px;
    background: var(--ibm-blue);
    
}
.banner b {
    display: block;
    font-weight: 600;
    font-size: 14px;
}
.banner b span {
    font-weight: 400;
}
.banner b span::before {
    content: ' / ';
    margin: 0 5px;
}

</style>
