/* Variables */
html {
	/* Regular colors */
	--c-bg: #f4f4f4;
	--c-text: #4c4c4c;
	--c-soft: #999;
	--c-blue: #0f62fe;

	/* Dark colors */
	--c-bg-d: #303237;
	--c-text-d: #eee;
	--c-soft-d: #666;

	/* Font sizes */
	--small: 12px;
	--reg: 16px;
}

/* #region - Page structure */
/*




 **
 * Page structure
 */
html,
body {
	height: 100%;
}
body {
	margin: 80px;
}
#page-wrap {
	display: flex;
}
#left {
	/* background: pink; */
	flex: 0 0 400px;
	margin-right: 80px;
	margin-bottom: 120px;
}
#right {
	/* background: lightblue; */
	flex: 1;
}
/* #endregion */

/* #region - Base styles */
/*




 **
 * Base styles
 */

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background: var(--c-bg);
	color: var(--c-text);
	font-size: var(--reg);
	line-height: 1.5rem;
	--webkit-font-smoothing: subpixel-antialiased;
}
a {
	color: var(--c-blue);
	text-decoration: none;
}
h1 {
	text-transform: uppercase;
	font-size: 48px;
	line-height: 36px;
	margin: 0 0 10px 0;
}
h2 {
	font-size: 25px;
	margin: 48px 0 10px 0;
}
h3 {
	font-size: 17px;
	margin: 48px 0 10px 0;
	color: var(--c-blue);
}
p {
	font-size: 15px;
	margin: 0 0 10px 0;
	
}
p1 {
	font-size: 15px;
	display: block;
	/*margin: 0 0 10px 0;*/
	margin-left: 5em;
	
}
ul {
	padding-inline-start: 16px;
}
/* #endregion */

/* #region - Base elements */
/*




 **
 * Base Elements
 */
 code {
   font-family: 'Courier New';
   background: lightgrey;
   color: black;
   font-size: 15px;
   padding: 0;
   padding: 1px;
   /*&:before {
	 display: block;
	 width: 100%;
	 margin-top: -10px;
	 margin-left: -10px;
	 padding: 1px;
	 text-transform: uppercase;
	 content: attr(data-lang);
	 background: Blue;
   }*/
 }
.version {
	font-style: italic;
	font-size: var(--small);
	color: var(--c-soft);
	margin-top: 5px;
	margin-bottom: 16px;
}
.btn-wrap {
	margin-bottom: 48px;
}
.nug {
	margin-bottom: 12px;
}
.nug b {
	line-height: 1.2rem;
}
.nug i {
	display: block;
}

/* CLI preview */
pre.code {
	display: inline-block;
	color: var(--c-text-d);
	background: var(--c-bg-d);
	position: relative;
	font-family: 'IBM Plex Mono', monospace;
	border-radius: 5px;
	padding: 40px;
	padding-top: 60px;
	font-size: var(--small);
	line-height: 1rem;
	margin: 0;
}
pre.code::before {
	content: '';
	display: block;
	height: 32px;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 5px 5px 0 0;
	display: none;
}
pre.code::after {
	--color: rgba(255, 255, 255, 0.2);
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: var(--color);
	position: absolute;
	top: 10px;
	left: 10px;
	box-shadow: 20px 0 0 var(--color), 40px 0 0 var(--color);
}
pre.code .soft {
	color: var(--c-soft-d);
}
pre.code .cmd {
	color: #00bcc5;
}
pre.code .yellow {
	color: #dd0;
}
/* #endregion */

/* #region - Responsive */
/*




 **
 * Responsive
 */

br.hide-400 {
	display: none;
}
pre.code.inline{ 
	display: inline;
    background-color: #80b3FF;
    border-radius: 4px;
    padding: 3px}
pre.code.image {
	display: none;
	margin-bottom: 48px;
}
pre.code.image {
	padding: 50px 20px 30px 20px;
}
pre.code.image img {
	width: 100%;
}
@media (max-width: 1300px) {
	#left {
		flex: 1;
	}
	#right {
		max-width: none;
	}
	pre.code {
		display: block;
	}
}

@media (max-width: 1200px) {
	#page-wrap {
		flex-direction: column;
	}
	#left {
		margin-right: 0;
	}
	pre.code.float {
		display: none;
	}
	pre.code.inline {
		display: block;
	}
}
@media (max-width: 800px) {
	body {
		margin: 50px;
	}
	pre.code.inline,
	pre.code.image {
		margin: 0 -40px 48px -40px;
	}
}
@media (max-width: 640px) {
	pre.code.inline {
		display: none;
	}
	pre.code.image {
		display: block;
	}
}
@media (max-width: 400px) {
	h1 {
		font-size: 40px;
	}
	br.hide-400 {
		display: inline;
	}
	button {
		padding-right: 16px;
	}
}

/* Hover states */
@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}
/* #endregion */
