body {
	min-width: min-content;
}

/**
 * Display options
 */

#options {
	float: right;
	z-index: 3;
	position: fixed;
	top: 40px;
	right: 40px;
}
#options .ibm-dropdown {
	margin-bottom: 30px;
}

/**
 * Table wrap
 */

#table-wrap {
	clear: both;
	margin-top: 70px; /* Floating buttons on top are not counted */
	display: flex;
	flex-direction: column-reverse;
}

/* Buttons */
#btn-wrap-left.edit-mode #btn-submit,
#btn-wrap-left.edit-mode #btn-edit,
#btn-wrap-left:not(.edit-mode) #btn-cancel,
#btn-wrap-left:not(.edit-mode) #btn-save,
#btn-options.hide {
	display: none;
}
#btn-wrap-left,
#btn-wrap-right {
	/* Make them horizontally sticky */
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	z-index: 1;
	height: 40px;
}
#btn-wrap-left {
	float: left;

	/**/
	left: 40px;
}
#btn-wrap-right {
	float: right;

	/**/
	right: 40px;
}

/* Reset columsn link */
#table-wrap > a {
	text-decoration: none;
	color: var(--black-20);
	height: 10px;
	line-height: 10px;
	margin-top: -10px;
	position: relative;
}
#table:not(.resized) + a {
	display: none;
}

/* Table */
#table {
	margin-top: 10px;
}
#table::after {
	/* This forces a 40px bottom margin */
	content: '';
	display: block;
	height: 40px;
}

/* Sticky header */
.tabulator .tabulator-header {
	position: -webkit-sticky;
	position: sticky;
	top: 60px;
	z-index: 2;
}
/* White cloakig banner */
/* This hides the page content when the table header is sticky */
#cloak {
	position: fixed;
	top: 0;
	right: 0;
	height: 60px;
	z-index: 1;
	background: white;
	width: 100%;
}
