/**
 * General Styling
 */

/* This is needed for the success message to be centered. */
html,
body {
	height: 100%;
}
body {
	margin: 40px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
	color: #393939;
}
h1 {
	margin: 0;
}
h2 {
	font-weight: 400;
	margin: 0;
	margin-bottom: 10px;
}
a {
	color: inherit;
}
p {
	margin-top: 0;
	margin-bottom: 10px;
}
.soft {
	color: #aaa;
}
