/**
* IBM Carbon Styling
*/

body {
	--ibm-blue: #0f62fe;
	--ibm-blue-dark: #0353e9;
	--ibm-blue-darker: #0043ce;
	--ibm-black: #393939;
	--ibm-black-dark: #4c4c4c;
	--ibm-font-fam: 'IBM Plex Sans', sans-serif;
	--ibm-font-size: 14px;
	--ibm-line-height: 18px;
}

/**
 * Buttons
 */

button {
	height: 40px;
	background: var(--ibm-blue);
	border: none;
	color: #fff;
	padding: 0 32px 0 16px;
	font-family: var(--ibm-font-fam);
	font-size: var(--ibm-font-size);
	cursor: pointer;
}
button:hover {
	background: var(--ibm-blue-dark);
}
button.secondary {
	background: var(--ibm-black);
	color: #fff;
}
button.secondary:hover {
	background: var(--ibm-black-dark);
}
button.tertiary {
	background: transparent;
	color: var(--ibm-black);
	border: 1px solid var(--ibm-black);
}
button.tertiary:hover {
	border-color: var(--ibm-blue-dark);
}

/**
 * Links
 */
a {
	color: var(--ibm-blue);
	text-decoration: none;
}
a:hover {
	color: var(--ibm-blue-darker);
}
