/* Global variables */
body {
	--font-fam: var(--ibm-font-fam);
	--font-size: var(--ibm-font-size);

	--black: var(--ibm-black); /* #393939 */
	--black-10: rgba(0, 0, 0, 0.1);
	--black-20: rgba(0, 0, 0, 0.2);
	--black-30: rgba(0, 0, 0, 0.3);

	--highlight: #fff7cc;
	--highlight-border: #e5deb8; /* Equivalent of 10% black overlay */
	--blue: var(--ibm-blue);
	--blue-30: #b7d0ff; /* Equivalent of 30% ibm-blue */
	--blue-15: #dbe7ff; /* Equivalent of 15% ibm-blue */
	--blue-05: #f3f7ff; /* Equivalent of 5% ibm-blue */
}

/**
 * General Styling
 */

/* This is needed for the success message to be centered. */
html,
body {
	height: 100%;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 40px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
	color: var(--black);
}
h1 {
	margin: 0;
}
h2 {
	font-weight: 400;
	margin: 0;
	margin-bottom: 10px;
}
p {
	margin-top: 0;
	margin-bottom: 10px;
}
.soft {
	color: #aaa;
}
